<h1>Your Local Farms</h1>
<% @suppliers.each do |supplier| %>
    <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to supplier.name, supplier %>
      </h4>
    </div>
  </div>
<% end %>
