<h1>About NC Food Source</h1>
<p>We are dedicated to providing an easy path for restaurants to place orders with local farms and also have a handy reference to get to know their suppliers.  It's easy to source your products through large companies but you lose touch with what makes your food great.  By creating a community around local food we hope to make restaurants more knowledgable about what they are cooking, while helping them get the freshest ingredients in their area.</p>

<p>All of our suppliers have a profile explaining who they are, what they offer, and how things run on their farm.  If you want meat from humanely rased animals you can just check out our supplier profiles and see which ones fit your needs. Leave comments on their profiles and get in touch with them. Be empowered to get to know your suppliers and your products better. </p>
