<div class="hero-unit">
  <h1>NC Food Source</h1>
  <p>Meeting the needs of restaurants throughout North Carolina.</p>
</div>

<div class="row">
  <div class="span4">
    <h2>Get farm fresh products</h2>
    <p>Place orders with farms in your 
      area and keep your kitchen stocked.</p>
  </div>
  <div class="span4">
    <h2>Connect with your food suppliers</h2>
    <p>Get to know the farms growing your food by reading their profiles. You can also leave comments and give feedback.</p>
  </div>
  <div class="span4">
    <h2>Read up on current trends</h2>
    <p>Check out our blog and catch up on the latest news in the community and industry.</p>
  </div>
</div>