<h1>NC Food Blog</h1>

  <div class="pull-right">
    <% @posts.each do |post| %>
      <p><%=link_to post.title, post %></p>
    <% end %>
  </div>

<div class="row">
  <div class="span9">
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%=link_to post.title, post %>   
          </h4>
          <small>
            <%= post.body %>  
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br/>
<% if policy(Post.new).create? %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>
<% end %>
