<h1>NC Food Blog</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="media">
      <div class="media-body">
        <div class="span9">
          <h4 class="media-heading">
            <%=link_to post.title, post %>   
          </h4>
          <small>
            <%= post.body %>  
          </small>
        </div>
        <div class="span3">
          <h4><%=link_to post.title, post %></h4>
        </div>
      </div>
    </div>
<% end %>

<br/>
<% if policy(Post.new).create? %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>
<% end %>
