<h1>Your Local Farms</h1>
<% @suppliers.each do |supplier| %>
    <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to supplier.name, supplier %>
      </h4>
    </div>
    <% if policy(Supplier.new).create? %>
      <%= link_to "New", new_admin_supplier_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
